root = true

[*.cs]
charset = utf-8
end_of_line = lf
insert_final_newline = true
indent_style = space
indent_size = 4

# Encourage modern C# style (tune later)
dotnet_style_qualification_for_field = false:suggestion
dotnet_style_qualification_for_property = false:suggestion
dotnet_style_qualification_for_method = false:suggestion

# If you want to start making style violations fail CI, promote severities:
dotnet_diagnostic.IDE0005.severity = warning
